.idea/
note1/fit_a_line.inference.model
note8/models/
note9/models/
note10/log/
note11/images/
note11/infer_model/
note12/datasets/
note12/infer_model/
note13/train_image/
note13/infer_image/
note13/infer_model/
note13/datasets/